extends layout

head
  title= "Upload a File"
block content
  h1= title
  form#formNewFile(action="/uploadfile", method="post", enctype="multipart/form-data")
    input#inputNewFile(type="file", name="fileForCount")
    button#btnSubmit(type="submit") submit
