doctype html
html(lang="en")
  head
    title="page title"
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
  body#not-ready-body
    #not-ready-container
      #not-ready-words
        | NOT READY YET!
      #not-ready-explanation
        | The data has not yet finished being processed.
        | Try again soon!
